<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="皮帅帅">
    <link rel="shortcut icon" href="image/zatu/favicon.png" type="image/png">
    <link rel="icon" href="image/zatu/favicon.png" type="image/png">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/index.css">
    <title>书呆子-首页</title>
    <script src="libs/angular.js"></script>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/jquery.cookie.js"></script>
    <script src="scripts/index.js"></script>
    <script src="scripts/header.js"></script>
</head>
<body ng-app="myApp" ng-controller="MainCtrl" ng-init="page='views/page.html'">
    <header>
        <section id="logo" onclick="location.href='index.html'">
            <img src="image/zatu/logo.png" alt="书呆子logo"><span>书呆子</span>
        </section>
        <section id="my" ng-controller="Header">
            <i>舍南舍北皆春水，但见群鸥日日来&#x3000;</i>
            <span class="sign">请登录</span>
            <span class="register">免费注册</span>
            <span class="shopbar">购物车</span>
            <span class="bookracks">
                <span>书架</span>
                <ol class="bookracks1">
                    <li ng-repeat="x in data1.bookracks">{{x.content}}</li>
                </ol>
            </span>
            <span class="indents">
                <span>订单</span>
                <ol class="indents1">
                    <li ng-repeat="x in data1.indents">{{x.content}}</li>
                </ol>
            </span>
            <span class="helps">
                <span>帮助</span>
                <ol class="helps1">
                    <li ng-repeat="x in data1.helps">{{x.content}}</li>
                </ol>
            </span>
        </section>
        <nav>
            <div id="nav-title">
                <span id="page" class="checked" ng-click="page='views/page.html'">首页</span>
                <span id="sale" ng-click="page='views/sale.html'">批发</span>
                <span id="taobao" ng-click="page='views/taobao.html'">淘宝团</span>
            </div>
            <div>
                <input type="text" placeholder="平凡的世界" autofocus>
                <span>搜索</span>
            </div>
        </nav>
        <section id="title">
            <span ng-repeat="x in data.title">{{x.name}}</span>
            <img src="image/zatu/new.gif">
        </section>
    </header>
    <!--向上轮播图-->
    <div id="outer">
        <div id="inner">
            <img src="image/carouse/carouse-1.jpg">
            <img src="image/carouse/carouse-2.jpg">
            <img src="image/carouse/carouse-3.jpg">
            <img src="image/carouse/carouse-4.jpg">
            <img src="image/carouse/carouse-5.jpg">
        </div>
        <ul id="btn">
            <li class="current">暑期书单满99减50，精选图书限时直降</li>
            <li>金马奖编剧《李樯作品集》4册，还原了电影中的所有删节部分</li>
            <li>《精神家园丛书》全4册，对构筑精神家园进行思想探索</li>
            <li>《堂吉诃德》上下卷，配有达利的三十八幅精美插图</li>
            <li>奇葩养成课——好口才进阶书单</li>
        </ul>
    </div>
    <main ng-include="page"></main>
    <!--底部-->
    <footer ng-include="'views/foot.html'"></footer>
    <script src="scripts/carouse.js"></script>
</body>
</html>