<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="皮帅帅">
    <link rel="shortcut icon" href="image/zatu/favicon.png" type="image/png">
    <link rel="icon" href="image/zatu/favicon.png" type="image/png">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css">
    <title>书呆子-我的订单</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/user.css">
    <script src="libs/angular.js"></script>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/jquery.cookie.js"></script>
    <script src="scripts/user.js"></script>
    <script src="scripts/header.js"></script>
</head>
<body ng-app="myApp" ng-controller="UserCtrl">
    <header ng-include="'views/header.html'"></header>
    <div id="banner">
        <img src="image/user/banner.jpg">
    </div>
    <main>
        <div id="aside" ng-include="'views/aside.html'"></div>
        <div id="main">
            <section id="indent">
                <p>尊敬的 <i id="name"></i>，您的用户总积分为 <i>0</i>，您可兑换积分为 <i>0</i>，您是 <i>1</i> 星级会员</p>
                <div ng-repeat="x in data.indent">
                    <span ng-repeat="y in x.span">{{y.span}}</span>
                </div>
                <input type="submit" value="取消订单">
            </section>
        </div>
    </main>
    <footer ng-include="'views/footer.html'"></footer>
</body>
</html>