<div id="main-top">
    <!--主页上部左侧栏目-->
    <div id="left">
        <aside>
            <div id="div-title">新到特价书精选<span>更多>></span></div>
            <ul>
                <li ng-repeat="x in data.book1">· {{x.content}}</li>
            </ul>
        </aside>
        <aside>
            <div id="div-title">公告</div>
            <ul>
                <li style="color:red">· 南方洪涝地区，订单配送延迟</li>
                <li ng-repeat="x in data.news">· {{x.content}}</li>
                <li id="weibo">· 关注我们的官方微博： <img src="image/zatu/sina.ico" /></li>
            </ul>
        </aside>
        <aside>
            <div id="div-title">书讯</div>
            <ul>
                <li class="borderline" ng-repeat="x in data.press1"><span class="icon-angle-right"> </span>{{x.content}}</li>
                <li ng-repeat="x in data.press">· {{x.content}}</li>
            </ul>
        </aside>
    </div>

    <div id="middle">
        <!--中间向左轮播图-->
        <div id="middle-carouse" ng-controller="Left">
            <ul id="carouse">
                <li>
                    <img ng-repeat="x in data.img1" ng-src="{{x.img}}">
                </li>
                <li>
                    <img ng-repeat="x in data.img2" ng-src="{{x.img}}">
                </li>
                <li>
                    <img ng-repeat="x in data.img3" ng-src="{{x.img}}">
                </li>
            </ul>
            <span id="carouse-prev" class="icon-angle-left icon-3x"></span>
            <span id="carouse-next" class="icon-angle-right icon-3x"></span>
        </div>
        <!--主打推荐-->
        <div id="middle-content">
            <div><span class="icon-sort-down"></span>&#x3000;主打推荐</div>
            <section ng-repeat="y in data.tuijian">
                <div id="content" ng-repeat="x in y.tuijian1">
                    <div><img ng-src="{{x.img}}"></div>
                    <a href="#">{{x.content}}</a>
                    <p>定价：￥{{x.price}}</p>
                    <p>售价：<span>￥{{x.shou}}</span></p>
                </div>
            </section>
        </div>
    </div>
    <!--右侧栏目畅销栏目-->
    <div id="right">
        <aside>
            <div id="div-title">近24小时畅销榜<span>更多>></span></div>
            <div id="now_list">
                <span id="p0" class="now_list" onmousemove="showdiv('0','p','pc')">文学</span>
                <span id="p1" onmousemove="showdiv('1','p','pc')">社科</span>
                <span id="p2" onmousemove="showdiv('2','p','pc')">少儿</span>
                <span id="p3" onmousemove="showdiv('3','p','pc')">生活</span>
                <span id="p4" onmousemove="showdiv('4','p','pc')">其他</span>
            </div>
            <ul ng-repeat="x in data.changxiao" id="{{x.pc}}" class="ranking">
                <li id="first-book">
                    <span>01</span>
                    <img ng-src="{{x.img}}">
                    <div>
                        <a href="#">{{x.name}}</a>
                        <p>作者：{{x.author}}</p>
                        <p>出版社：{{x.press}}</p>
                        <p>￥{{x.price}} <span>￥{{x.shou}}</span></p>
                    </div>
                </li>
                <li ng-repeat="y in x.p"><span>{{y.num}}</span> {{y.content}}</li>
            </ul>
        </aside>

        <aside>
            <div id="div-title"><i class="icon-caret-right"></i>&#x3000;近7天畅销榜</div>
            <div id="div-title">近24小时畅销榜<span>更多>></span></div>
            <div id="now_list">
                <span id="z0" class="now_list" onmousemove="showdiv('0','z','zc')">文学</span>
                <span id="z1" onmousemove="showdiv('1','z','zc')">社科</span>
                <span id="z2" onmousemove="showdiv('2','z','zc')">少儿</span>
                <span id="z3" onmousemove="showdiv('3','z','zc')">艺术</span>
                <span id="z4" onmousemove="showdiv('4','z','zc')">其他</span>
            </div>
            <ul ng-repeat="y in data.ranking" id="{{y.id}}" class="ranking">
                <li ng-repeat="x in y.z"><span>{{x.num}}</span> {{x.content}}</li>
            </ul>
        </aside>
    </div>
</div>
<!--主页中部淘书团-->
<div id="main-middle">
    <div>淘书团</div>
    <div id="taoshu">
        <section ng-repeat="x in data.taoshu">
            <p>{{x.content}}</p>
            <img ng-src="{{x.img}}">
            <div id="price"><span>￥{{x.price}}</span><span>去校检</span></div>
            <p id="zhe"><span>定价：￥{{x.yuan}}</span>&#x3000;&#x3000;<span>折扣：{{x.zhe}}折</span></p>
        </section>
    </div>
</div>
<!--主页下部-->
<div id="main-bottom">
    <div id="left">
        <aside>
            <div id="div-title">图书分类<span>更多>></span></div>
            <section id="classify" ng-repeat="x in data.classify">
                <p>[ {{x.title}} ]</p>
                <p ng-repeat="y in x.p"><span>{{y.c1}}</span><span>{{y.c2}}</span></p>
                <!--<p><span>{{x.c3}}</span><span>{{x.c4}}</span></p>
                <p><span>{{x.c5}}</span><span>{{x.c6}}</span></p>
                <p><span>{{x.c7}}</span><span>{{x.c8}}</span></p>-->
            </section>
            <p>查看更多分类>></p>
        </aside>
        <aside>
            <div id="div-title">名社特卖场<span>更多>></span></div>
            <div id="shushe">
                <img ng-repeat="x in data.shushe" ng-src="{{x.img}}">
            </div>
            <ul>
                <li ng-repeat="x in data.shushe1">· {{x.content}}</li>
            </ul>
        </aside>
        <aside>
            <div id="div-title">最新丛书</div>
            <ul>
                <li ng-repeat="x in data.newbook">· {{x.content}}</li>
            </ul>
        </aside>
    </div>
    <!--主页下部 分类图书-->
    <div id="fenlei">
        <!--文学、社科、少儿-->
        <section ng-repeat="x in data.fenlei">
            <div id="div-title">{{x.title}}<span>更多>></span></div>
            <div id="books">
                <div id="content">
                    <div><img ng-src="{{x.img}}"></div>
                    <a href="#">{{x.name}}</a>
                    <p>定价：￥{{x.price}}</p>
                    <p>售价：<span>￥{{x.shou}}</span></p>
                    <p>{{x.content}}</p>
                </div>
                <div id="content1">
                    <div id="content" ng-repeat="y in x.books">
                        <div><img ng-src="{{y.img}}"></div>
                        <a href="#">{{y.name}}</a>
                        <p>定价：￥{{y.price}}</p>
                        <p>售价：<span>￥{{y.shou}}</span></p>
                    </div>
                </div>
                <div id="ul">
                    <ul ng-repeat="z in x.ul0">
                        <li>· {{z.content}}</li>
                        <img ng-src="{{z.img}}">
                    </ul>
                    <ul>
                        <li ng-repeat="r in x.ul">· {{r.content}}</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--艺术、生活、文教-->
        <section id="fenlei1" ng-repeat="x in data.fenlei1">
            <div id="div-title">{{x.title}}<span>更多>></span></div>
            <div id="books">
                <div id="content1">
                    <div id="content" ng-repeat="y in x.books">
                        <div><img ng-src="{{y.img}}"></div>
                        <a href="#">{{y.name}}</a>
                        <p>定价：￥{{y.price}}</p>
                        <p>售价：<span>￥{{y.shou}}</span></p>
                    </div>
                </div>
                <div id="ul">
                    <ul ng-repeat="z in x.ul0">
                        <li>· {{z.content}}</li>
                        <img ng-src="{{z.img}}">
                    </ul>
                    <ul>
                        <li ng-repeat="r in x.ul">· {{r.content}}</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <!--超低价专区-->
    <div id="lower">
        <div>
            <div id="div-title">超低价专区<span>更多>></span></div>
            <div id="content1">
                <div id="content" ng-repeat="x in data.lower">
                    <div><img ng-src="{{x.img}}"></div>
                    <a href="#">{{x.name}}</a>
                    <p>定价：￥{{x.price}}</p>
                    <p>售价：<span>￥{{x.shou}}</span></p>
                </div>
            </div>
            <div id="lower1">
                <p ng-repeat="x in data.lower1">{{x.name}}<span>售价：￥{{x.price}}</span></p>
            </div>
        </div>
        <div id="right">
            <aside>
                <div id="div-title">典藏榜<span>更多>></span></div>
                <ul class="ranking">
                    <li id="first-book" ng-repeat="x in data.dian">
                        <span>01</span>
                        <img ne-src="{{x.img}}">
                        <div>
                            <a href="#">{{x.name}}</a>
                            <p>作者：{{x.author}}</p>
                            <p>出版社：{{x.press}}</p>
                            <p>￥{{x.price}} <span>￥{{x.shou}}</span></p>
                        </div>
                    </li>
                    <li ng-repeat="x in data.diancang"><span>{{x.num}}</span> {{x.content}}</li>
                </ul>
            </aside>
        </div>
    </div>
</div>