form{
    width: 600px;
    margin: 25px auto;
    border: 1px solid #ffcc66;
    font-size: 15px;
    background-color: #ffffee;
}
h2{
    font-size: 21px;
    font-weight: normal;
    color: #fc9400;
    border-bottom: 1px solid #ffcc66;
    background-image: linear-gradient(to bottom,#ffffee,#ffffcc,#ffdd99);
    margin: 0;
    padding: 5px 20px;
}
label,input{
    display: inline-block;
    width: 150px;
    height: 32px;
}
label{
    text-align: right;
    line-height: 32px;
}
input{
    width: 240px;
    padding: 0 5px;
    border: none;
    border: 1px solid #ffdd99;
    border-radius: 5px;
}
input[type=submit]{
    font-size: 16px;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    background-image: linear-gradient(to bottom,#ffb400,#fc9400,#fa7202);
}
input[type=submit]:hover{
    opacity: 1;
}
form>div{
    margin: 10px 30px;
}
form>div:nth-of-type(1){
    margin: 20px 30px 10px 30px;
}
form span{
    cursor: pointer;
    color: dodgerblue;
    font-size: 14px;
}
form>div>div{
    font-size: 14px;
}
form>div>i{
    padding-left: 10px;
}
form>div>div>img{
    width: 240px;
    height: 50px;
    border: 1px solid #ffdd99;
    vertical-align: middle;
    border-radius: 5px;
}
#submit>span{
    color: #fa7202;
    font-size: 16px;
}
#weibo{
    border-top: 1px dotted #ffcc66;
    margin: 20px 20px 0 20px;
    text-align: center;
    padding: 15px 0;
}
#weibo>span{
    padding: 0 20px;
}
#recom{
    position: relative;
    width: 100%;
    font-size: 13px;
    border: 1px solid #ffdd99;
    margin: 25px 0;
    background-color: #ffffee;
}
#recom>h2{
    font-size: 16px;
    height: 30px;
    padding: 3px 20px;
}
#outer{
    width: 880px;
    height: 230px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
#inner{
    position: absolute;
    top: 0;
    left: 0;
}
ul{
    width: 2640px;
    height: 230px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
ul>li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    display: inline-block;
    width: 160px;
    text-align: center;
}
ul>li img{
    display: block;
    margin: 20px auto;
    position: relative;
}
ul>li img:hover{
    animation: top 0.3s linear;
}
@keyframes top{
    0%{
        top: 0px;
    }
    20%{
        top: -10px;
    }
    40%{
        top:-15px;
    }
    70%{
        top: 7px;
    }
    80%{
        top: 0px;
    }
    90%{
        top: 5px;
    }
    100%{
        top: 0px;
    }
}
#outer a{
    display: inline-block;
    height: 36px;
    color: #666;
    text-decoration: none;
}
#outer p{
    margin: 5px;
}
#left,#right{
    width: 30px;
    height: 60px;
    position: absolute;
    top: 110px;
    font-size: 35px;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
}
#left{
    left: 0;
    background-image: linear-gradient(to left, #ffeecc,#ffddaa,#ffdd99);
}
#right{
    right: 0;
    background-image: linear-gradient(to right, #ffeecc,#ffddaa,#ffdd99);
}
.orange{
    color: #ff6600;
}
label[for=male],
label[for=female]{
    width: 30px;
    height: 32px;
    text-align: left;
}
input[type=radio]{
    width: 22px;
    height: 32px;
    margin-right: -3px;
    display: none;
}
input[type=radio]+label{
    display: inline-block;
    width: 60px;
    margin: 5px auto;
    height: 40px;
    line-height: 20px;
    padding: 10px;
    background-image: url(../image/zatu/unselect.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: left center;
    padding-left: 30px;
    font-size: 0.9rem;
}
input[type=radio]:checked+label{
    background-image: url(../image/zatu/select.png);
}
#sex{
    height: 37.5px;
}
#sex label{
    position: relative;
    top: -10px;
}
#sex>div{
    display: inline-block;
}
.icon-ok-sign{
    color: green;
}
.icon-remove-sign{
    color: red;
}
input[type=submit]:disabled{
    color: #666;
    background-image: linear-gradient(to right, #f9f9f9,#f6f6f6,#e6e6e6);
    border: 1px solid #d6d6d6;
    opacity: 0.8;
    cursor: not-allowed;
}
#password-error{
    color: red;
}
.code{
    margin-top: 10px;
}
#usernames{
    margin: 20px 30px 10px 30px;
}
#submit{
    margin: 10px 30px 20px 30px;
}