#banner{
    margin-top: 20px;
}
main{
    font-size: 14px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
main i{
    color: #ff9900;
    font-style: normal;
}
#aside,#main,#middle,#right{
    display: inline-block;
}
#aside,#right>section{
    width: 200px;
    border: 1px solid #ffcc66;
}
#main{
    width: 780px;
    display: flex;
    justify-content: space-between;
}
#main>section>p{
    margin: 0;
    font-size: 14px;
    display: block;
}
.aside-title, .div-title{
    height: 40px;
    padding: 0px 10px;
    line-height: 40px;
    font-size: 16px;
    background-image: linear-gradient(to bottom,#ffee99,#ffdd99,#ffcc66);
    color: #ff6600;
    text-align: center;
}
.aside-title>span{
    position: relative;
    top: -4px;
}
.div-title{
    background-image: none;
    background-color: #ffffaa;
}
#aside>div.div-title{
    cursor: pointer;
}
ul{
    margin: 0;
    padding: 10px 20px;
    background-color: #ffffee
}
li{
    list-style: none;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
}
li:hover,
.account>div>span:hover{
    color: #ff9900;
}
#middle{
    width: 560px;
}
#right>section{
    margin-bottom: 20px;
}
#right ul{
    padding: 10px;
    font-size: 13px;
}
#right li{
    text-align: left;
}
#right .div-title{
    border-bottom: 1px solid #ffcc66;
}
form{
    padding: 10px;
    background-color: #ffffee;
}
form>p{
    line-height: 30px;
    margin: 0;
}
textarea,
input{
    width: 178px;
    height: 100px;
    resize: none;
    padding: 5px;
    border: 1px solid #ffcc66;
    border-radius: 5px;
}
input[type=submit]{
    margin: 10px 0;
    height: 30px;
    font-size: 14px;
    line-height: 15px;
    background-image: linear-gradient(to bottom,#ffc633,#fabf1d,#ffb400);
}
#weibo>img{
    animation: imgbig 2s linear infinite;
    position: relative;
    top: 2px;
}
@keyframes imgbig{
    0%{
        width: 16px;
    }
    60%{
        width: 20px;
    }
    100%{
        width: 16px;
    }
}
#middle>section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffee;
}
#middle>section>img{
    width: 80px;
    height: 80px;
    border: 1px solid #ffcc66;
}
.account{
    width: 410px;
}
.account>h2{
    margin: 0;
}
.account>h2>span{
    color: #ff9900;
}
.account>p>span{
    width: 240px;
    float: right;
}
.account>div{
    width: 410px;
    height: 40px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ffcc66;
    display: flex;
    justify-content: space-between;
}
.account>div>span{
    cursor: pointer;
}
#middle>.div-title{
    border-bottom: 2px solid #ffcc66;
}
.content{
    width: 120px;
    text-align: center;
    font-size: 13px;
    border: 1px solid #ffffcc;
}
.content:hover{
    border: 1px solid #ffcc66;
}
.content>img{
    height: 100px;
    margin: 20px 0;
    transition: transform 0.5s linear;
}
.content>img:hover{
    transform: scale(1.15);
}
.content>a{
    display: block;
    height: 40px;
    line-height: 20px;
    padding: 0 5px;
}
.content>p{
    margin: 10px;
}
.content>p>span:first-child{
    text-decoration-line: line-through;
}
#indent>div>span{
    display: inline-block;
    height: 40px;
    width: 120px;
    text-align: center;
    line-height: 40px;
}
#indent>div:nth-of-type(1)>span{
    font-size: 15px;
    margin-top: 20px;
    margin-right: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: linear-gradient(to bottom,#ffff88,#ffcc66,#ffcc00);
    border: 1px solid #ffcc66;
}
#indent>div:nth-of-type(2){
    width: 738px;
}
#indent>div:nth-of-type(2)>span{
    background-color: #ffffcc;
    border-right: 1px solid #ffcc00;
    width: 122.5px;
}
#indent>div:nth-of-type(2){
    border: 1px solid #ffcc66;
}
#indent>div:nth-of-type(2)>span:last-child{
    border-right: none;
}
#indent>input{
    display: block;
    margin: 20px auto;
}
#bookrack,
#indent{
    background-color: #ffffee;
    width: 100%;
}
#bookrack>p{
    padding-left: 10px;
}
#collect{
    padding: 10px 0;
}
#collect select{
    margin-right: 10px;
}
#collect input{
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin: 0;
}
#collect>div:nth-of-type(1){
    padding: 0 10px;
    height: 30px;
    display: inline-block;
}
#collect>div:nth-of-type(2){
    float: right;
    height: 30px;
    padding-top: 5px;
}
#collect>div:nth-of-type(2)>span{
    border: 1px solid #ffcc66;
    margin-right: 10px;
}
#collect>div:nth-of-type(3){
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ffcc66;
    margin: 10px 0;
}
#collect>div:nth-of-type(3)>span{
    display: inline-block;
    padding: 6px 28px 4px 28px;
    border-right: 1px solid #ffcc66;
}
#collect>div:nth-of-type(3)>span:first-child>input{
    position: relative;
    top: 2px;
}
#collect>div:nth-of-type(3)>span:last-child{
    border-right: none;
}
#collect>div:last-child{
    padding: 0 10px;
}
#collect>div:last-child>span{
    border: 1px solid #ffcc66;
    margin-left: 10px;
    padding: 3px 7px;
}
.help{
    margin-bottom: 20px;
}
.help:last-child{
    margin-bottom: 0;
}
.help>div.div-title{
    border: 1px solid #ffcc66;
}
.help>ul{
    border: 1px solid #ffcc66;
    margin-top: 10px;
    padding: 10px;
}
.help>ul>li{
    text-align: left;
}
.help-ul>li:nth-of-type(2n+1),
.help-ul>li:last-child{
    color: orange;
}
.help-ul>li:nth-of-type(2){
    font-size: 0.8rem;
}
li>span{
    color: #ff6600;
    position: relative;
    top: -1px;
}
.help:first-child>ul>li:nth-of-type(2){
    font-weight: bold;
}